/* Button */
.button {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    margin-top: 19.6rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(90deg, var(--color-primary-yellow), var(--color-secondary-yellow));
    text-decoration: none;
}
.button:hover{
    background: var(--color-primary-yellow);
}
.button:active{
    background: var(--color-secondary-yellow);
}
/* Button text */
.button__text {
    font-size: var(--fs-h5);
    font-weight: var(--fw-regular);
    color: var(--color-dark);
    white-space: nowrap;
}
/* Button img */
.button__img {
    width: 1.2rem;
    height: auto;
    margin-left: 1.2rem;
}